networks:
  proxy-net:
    external: true

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    expose: ["80"]
    networks: [proxy-net]
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://127.0.0.1:80/"]
      interval: 30s
      timeout: 3s
      start_period: 5s
      retries: 3
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.finance-frontend.rule=Host(`finance.gravvisoft.com`)"
      - "traefik.http.routers.finance-frontend.entrypoints=websecure"
      - "traefik.http.routers.finance-frontend.tls.certresolver=letsencrypt"
      - "traefik.http.routers.finance-frontend.service=finance-frontend-svc"
      - "traefik.http.services.finance-frontend-svc.loadbalancer.server.port=80"
      - "traefik.http.routers.finance-frontend-web.rule=Host(`finance.gravvisoft.com`)"
      - "traefik.http.routers.finance-frontend-web.entrypoints=web"
      - "traefik.http.routers.finance-frontend-web.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file: [./backend/.env]
    expose: ["7003"]
    networks: [proxy-net]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.finance-backend.rule=Host(`finance.gravvisoft.com`) && PathPrefix(`/api`)"
      - "traefik.http.routers.finance-backend.entrypoints=websecure"
      - "traefik.http.routers.finance-backend.tls.certresolver=letsencrypt"
      - "traefik.http.routers.finance-backend.service=finance-backend-svc"
      - "traefik.http.services.finance-backend-svc.loadbalancer.server.port=7003"
      - "traefik.http.routers.finance-backend-web.rule=Host(`finance.gravvisoft.com`) && PathPrefix(`/api`)"
      - "traefik.http.routers.finance-backend-web.entrypoints=web"
      # - "traefik.http.routers.finance-backend-web.middlewares=redirect-to-https,finance-api-strip"
      # - "traefik.http.routers.finance-backend.middlewares=finance-api-strip"
      # - "traefik.http.middlewares.finance-api-strip.stripprefix.prefixes=/api"
